*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card,
.cart__card {
    border: 1px solid rgb(29 78 216);
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 0.25);
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.productsWrapper,
.cartCard__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}